@import "variables";
.footer {
    background-color: $base-color;
    margin-top: 100px;
    position: fixed;
    bottom: 0px;
    width: 100%;

    .social-icons {
        color: white;
        font-size: 21px;

        i {
            margin: 10px;
            cursor: pointer;
        }
    }

    .navigation {
        color: white;
    }
}