/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;

    .social-icons {
        font-size: 27px;
        cursor: pointer;
        i {
            margin-left: 10px;
        }
    }
}

.url-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #414141;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}


.topnav span {
    float: left;
    display: block;
    color: #414141;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Sedgwick Ave Display', cursive;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #ddd;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    color: #ddd;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav .url-container {
        display: none;
    }

    .topnav span.icon {
        float: right;
        display: block;
        cursor: pointer;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive span.icon {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}

.topnav-float {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 0;
    display: block;
    width: 100%;
}
.topnav-popup-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    background-color: #fff;


    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    a {
        text-decoration: none;
        padding: 5px;
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        color: #414141;
        font-weight: bold;
    }

    a:hover {
        color: #ddd;
    }
}

.navigation-container {
    z-index: 2;
    position: relative;
}

.fixed {
    position:fixed;
    top:0;
    z-index: 10;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}