@import "../variables";

.project-card-container {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    align-self: stretch;
    background-color: #fff;
}

.project-card-container:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.project-image-header {
    display: flex;
    justify-content: center;

    .project-img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}

.project-title {
    margin-top: 10px;
    span {
        font-size: large;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }
}

.project-description {
    span {
        font-size: smaller;
    }
}

.project-details {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.projects-buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;

    span {
        margin: 7px;
        font-size: 21px;
        color: #676767
    }

    span:hover {
        color: $base-color
    }
}