@import "../variables";
.hero-container {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
    justify-content: space-between;
}

.hero-left-section {
    flex: 5;
}

.hero-right-section {
    flex: 8;
    font-family: 'Quicksand', sans-serif;
}

.hero-intro {
    font-size: x-large;
    font-weight: bolder;
}

.hero-work {

    font-size: x-large;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;

    span {
        color: #fff;
        background-color: $base-color;
        padding: 5px;
    }
}

.hero-button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: 'Quicksand', sans-serif;
}

.hero-button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.hero-button-black {
    background-color: $base-color;
    color: #fff;
    border: 1px solid $base-color;
}

.hero-button-white {
    background-color: #fff;
    color: #000;
    border: 1px solid $base-color;
}

.hero-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img-placeholder {
    background-color: $base-color;
    height: 200px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 20px;
}


@media screen and (max-width: 640px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        justify-content: center;
    }

    .hero-work {

        span {
            margin-left: 10px;
        }
    }

    .hero-intro {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-work {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-bio {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            text-align: center;
        }
    }

    .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Medium devices such as tablets (768px and up) */
@media screen and (max-width: 768px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        justify-content: center;
    }

    .hero-work {

        span {
            margin-left: 10px;
        }
    }

    .hero-intro {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-work {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-bio {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            text-align: center;
        }
    }

    .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 1024px) {
    .hero-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {


}