.work-heading {

    display: flex;
    justify-content: center;
    margin-top: 20px;

    span {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }
}

.work-section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 50px;
    padding-right: 50px;

    span {
        text-align: center;
    }
}

.tags-wrapper {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
}

.projects-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    place-items: center;
}

@media screen and (max-width: 600px) {

    .projects-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        place-items: center;
    }
    
}

@media screen and (max-width: 766px) {

    .projects-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #2196F3;
        padding: 10px;
        place-items: center;
    }
    
}

@media screen and (max-width: 560px) {

    .projects-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        place-items: center;
    }
    
}