.work-heading {

    display: flex;
    justify-content: center;
    margin-top: 20px;

    span {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }
}

.work-section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 50px;
    padding-right: 50px;

    span {
        text-align: center;
    }
}

.tags-wrapper {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
}

.projects-container {
    margin-top: 20px;

    display: flex;
    gap: 32px;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.mid-section-wrapper {
    /* Set a specific height */
    min-height: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


